*{
	margin:0;
	padding:0;
}
html, body
{
    background-color:#354245;
}
body
{
    margin:0 20px 0 20px;
    font-size:15px;
	color:#263031;
	font-family:Helvetica W01 Light,Arial,sans-serif;
	background-color: #ececec;
    position: relative;
}
header
{
    width: 390px;
    height: 45px;
    background-image:url('img/logo.png');
    padding-top:100px;
    margin: 20px 70px 0 70px;
}
#opisanie
{
    width:100%;
    float:left;
    border-bottom:1px solid #354245;
    margin-bottom: 20px;
    margin-top: -220px;   
}
#opisanie p
{
    margin: 0px 0px 25px 425px;
    padding:120px 0 20px 0;
    color:#354245;
    word-spacing:4px;
    text-align :justify;
	font-family:Avenir LT W01 95 Black, Arial Bold, sans-serif Bold;
	font-size:27px;
}
section
{	
    height:100%;
    width: auto;
    position: relative;
    margin: 20px 70px 0 70px;
    padding-bottom:50px;
}
article  h1
{
  font-size:60px;
}
article  p
{
  font-size:25px;
  text-indent:30px;
  text-align:justify;
  padding-bottom:20px;
}
li
{
    font-size:20px;
    margin-left:40px;
}
#li1
{
    list-style-image:url('img/Play1.png');
}
#li2
{
    list-style-image:url('img/Play2.png');
}
#li3
{
    list-style-image:url('img/Play3.png');
}
#resultsDiv
{
   width: 550px;
   float: left; 
}
#resultsDiv p
{
  padding: 0px 20px 0 0;
  text-align:justify;
  font-family: Avenir LT W01 85 Heavy,Arial,sans-serif;
  font-size:24px;
  color:White;
}
 nav 
{
  width: 200px;
  float: left;
  margin-top:40px;
  padding: 0 0 40px 60px;
}  
footer
{
   background: #354245;
   width: 100%;
   padding: 2px; /* Поля вокруг текста */
   margin-top:10px;
   position:relative;
}
footer div
{
    color:White;
    width: auto;
    min-height:20px; 
    text-align:right; 
}
#searchForm
{
   background-color: #354245;
  -moz-border-radius:16px;
  -webkit-border-radius:16px;
  border-radius:16px;
}

.downloads
{
    margin-top:30px;
  background-color: #354245;
  -moz-border-radius:16px;
  -webkit-border-radius:16px;
  border-radius:16px;
}
   
.downloads div
{
    height:100%;
    padding:10px;
    padding-left:30px;
}
#get_mnemonic
{
        margin:5px 0 0 0;
background-color:Gray;
	background:url('img/button1.png') no-repeat;	
	width:220px;
	height:56px;
/*	text-indent:-9999px;*/
font-size:25px;
color: White;
	overflow:hidden;
	border:none;
	cursor:pointer;
}

#get_mnemonic:hover
{
	background:url('img/button2.png') no-repeat;
}
#get_original
{
    margin: 5px 0 0 0;
	background:url('img/button1.png') no-repeat;
	width:220px;
	height:56px;
/*	text-indent:-9999px;*/
font-size:25px;
color: White;
	overflow:hidden;

	border:none;
	cursor:pointer;
        value:"khdsfkgv";
}

#get_original:hover
{
	background:url('img/button2.png') no-repeat;
}
#s:hover
{
    background:url("img/search_box1.png") no-repeat;
}
#s:focus
{
    background:url("img/search_box1.png") no-repeat;
}
#s
{
    border:none;
	color:#888888;
	background:url("img/search_box2.png") no-repeat;
	
	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:20px;
	line-height:30px;
	outline:medium none;
	padding:0 20px 0 20px; /*место ввода слов*/
	text-shadow:1px 1px 0 white;
	width:300px;
	height:60px;
}
#s2:hover
{
    background:url("img/search_box1.png") no-repeat;
}
#s2:focus
{
    background:url("img/search_box1.png") no-repeat;
}
#s2
{
    border:none;
	color:#888888;
	background:url("img/search_box2.png") no-repeat;

	float:left;
	font-family:Arial,Helvetica,sans-serif;
	font-size:20px;
	line-height:30px;
	outline:medium none; 
	padding:0 20px 0 20px; /*место ввода слов*/
	text-shadow:1px 1px 0 white;
	width:300px;
	height:60px;
}
fieldset 
{
    padding:20px 0 20px 20px;
    border:none;
    width:640px;
}
aside
{
    width: 600px;
    float: left;
}
article
{
    margin-left: 660px;
    display: block;
}
